<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <%= form_for @sender do |f| %>
          <h2>Regístrate <small>Es grátis</small></h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control input-lg', placeholder: 'Nombre' %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control input-lg', placeholder: 'Apellido'  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <%= f.label :mail %>
                <%= f.text_field :mail, class: 'form-control input-lg', placeholder: 'E-Mail'  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control input-lg', placeholder: 'Contraseña'  %>
              </div>
            </div>
          </div>
          <hr class="colorgraph">
            <div class="row">
              <%= f.submit(@sender.new_record? ? 'Register' : 'Edit Profile', class: "btn btn-success") %>
            </div>
        <% end %>
        <%= link_to "<< Atrás", root_path %>
      </div>
    </div>
  </div>
</body>
